server:
  port: 8098

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/flyway2
    username: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    open-in-view: false
